@model List<MVCMovieDB.Models.Movie>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<button type="submit" class="btn btn-primary">New Movie</button>
<div id="movietable" class="form-horizontal">

    <table class="table table-hover">
        <tr>
            <th>
                Movie
            </th>
            <th>
                Genre
            </th>
        </tr>

        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "MovieDetails", movie)
                </td>
                <td>
                    @movie.Genre
                </td>
            </tr>

        }


    </table>

</div>
